<!DOCTYPE html>
<html>
  <head>
    <title>Inviertete</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <!--Donde van a estar los botones de inicio de sesion y el dropdown-->
    <div class="container-fluid">
  	  <div class="row">
  		    <div class="col-md-4">
  		    </div>
  		    <div class="col-md-2">
            <img src=http://inviertete.net/wp-content/uploads/2016/01/cropped-inviertete-1000-288.jpg alt="Bootstrap Image Preview" />
  		    </div>
  		    <div class="col-md-4">
  		    </div>
  		    <div class="panel col-md-2 row">
               <!--<ul> es para Unordered list-->
               <div class="panel-body">
                  <!--li es para los elementos de la lista-->
                  <!--Para el boton de home-->

                  <div class="col-md-3">
                    <button class="btn-link"  type="button">
                      <img class="img-circle avatar float-right mr-1" src="https://avatars2.githubusercontent.com/u/25804170?v=4&amp;s=40">

                    </button>
                  </div>
                  <!--Para el boton de chat -->
                  <div class="col-md-3">
                    <button class="btn-link">
                      <img class="img-circle avatar float-right mr-1" src="https://avatars2.githubusercontent.com/u/25804170?v=4&amp;s=40">

                    </button>
                  </div>
                  <!--Para el boton de notificaciones-->
                  <div class="col-md-3">
                    <button class="btn-link">
                      <img class="img-circle avatar float-right mr-1" src="https://avatars2.githubusercontent.com/u/25804170?v=4&amp;s=40">

                    </button >
                  </div>
                  <!--Para el boton de login-->
                  <div class="drowdown col-md-3">
                    <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown">
                      <img class="img-circle avatar float-right mr-1" src="https://avatars2.githubusercontent.com/u/25804170?v=4&amp;s=40">
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                      <%# app/views/users/_user.html.erb %>
                      <li class="dropdown-header">
                        <%#= render 'devise/registrations/new' %>
                      </li>
                      <li><a href="#">CSS</a></li>
                      <li><a href="#">JavaScript</a></li>
                    </ul>
                  </div>
                  </div
  		    </div>
      </div>
    </div>
    <nav>

    </nav>
    <!--This line is for the sign out button-->
    <% if user_signed_in? %>
  		<%= link_to "Cerrar sesión", destroy_user_session_path, method:'delete' %>
  	<% end %>
  </header>
  <body>
    <%= yield %>
  </body>
</html>
